*, *::after, *::before {
	margin: 0;
	box-sizing: border-box;
}

a:focus {
	outline: 2px solid #fff !important;
	border-radius: 8px;
}

html {
	scroll-behavior: smooth;
}

html, lite-youtube.lyt-activated, .ytp-autohide, video {
	cursor: url("/img/cursor-default.png"), default !important;
}

a, lite-youtube, lite-youtube > .lty-playbtn {
    cursor: url("/img/cursor-pointer.png"), pointer !important;
}

body {
	background-color: #1e181c;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	font-size: calc(1rem + 0.25vw);
	line-height: 1.5;
	color: #fbf9da;
}

a {
	color: inherit;
}

::selection {
	background-color: #fcdfb0;
	color: #411733;
}
