---
import ParallaxHeader from '../components/ParallaxHeader.astro';
import Main from '../components/Main.astro';
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Amelite - Out soon on Steam!</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<style global>
		@import "../styles/base.css";
		@import "../styles/lite-yt-embed.css";
	</style>

	<script type="module">
		const targets = document.querySelectorAll(".scroll");
		window.addEventListener("scroll", () => {
			const offset = window.scrollY / 10;

			targets.forEach(target => {
				const posY = offset * target.dataset.speed;
				target.style.transform = `translateY(${posY}px)`;
			})
		});
	</script>

	<script defer data-domain="amelitegame.com" src="https://plausible.io/js/plausible.js"></script>
	<script defer src="/js/lite-yt-embed.js"></script>
</head>
<body>
	<ParallaxHeader />
	<Main />
</body>
</html>
