<div class="awards">
	<div>
		<img src="/img/awards/best-in-show.webp" alt="Gotland Game Conference Award: Best in show" /><img src="/img/awards/best-game-feel.webp" alt="Gotland Game Conference Award: Best game feel" />
	</div>
	<div>
		<img src="/img/awards/best-level-design.webp" alt="Gotland Game Conference Award: Best level design" /><img src="/img/awards/best-presentation.webp" alt="Gotland Game Conference Award: Best presentation" />
	</div>
</div>

<style>
	.awards {
		display: flex;
		width: 100%;
		justify-content: center;
		flex-wrap: wrap;
		margin: 3em 0;
	}

	.awards img {
		width: calc(12ch + 2vw);
		margin: 0.5em;
	}
</style>
