<div class="awards">
	<div>
		<img src="/img/awards/best-in-show.png" alt="Gotland Game Conference Award: Best in show" width="173" height="146" /><img src="/img/awards/best-game-feel.png" alt="Gotland Game Conference Award: Best game feel" width="173" height="146" />
	</div>
	<div>
		<img src="/img/awards/best-level-design.png" alt="Gotland Game Conference Award: Best level design" width="173" height="146" /><img src="/img/awards/best-presentation.png" alt="Gotland Game Conference Award: Best presentation" width="173" height="146" />
	</div>
</div>

<style>
	.awards {
		display: flex;
		width: 100%;
		justify-content: center;
		flex-wrap: wrap;
		margin-top: 3em;
	}

	.awards img {
		width: calc(12ch + 2vw);
		height: auto;
		margin: 0.5em;
		aspect-ratio: 242 / 204;
		object-fit: contain;
	}
</style>
