<div>
	<img src="/assets/img/best-in-show.png" alt="Gotland Game Conference Award: Best in show" />
	<img src="/assets/img/best-game-feel.png" alt="Gotland Game Conference Award: Best game feel" />
	<img src="/assets/img/best-level-design.png" alt="Gotland Game Conference Award: Best level design" />
	<img src="/assets/img/best-presentation.png" alt="Gotland Game Conference Award: Best presentation" />
</div>

<style>
div {
	display: flex;
	width: 100%;
	gap: 2rem;
	justify-content: center;
	z-index: 10;
	flex-wrap: wrap;
}

div > img {
	max-width: 33vw;
}


</style>