<footer>
	<div class="container">
		<small>
			&copy; Sealhorse Studios 2022<br />
			Website by <a href="https://github.com/MarcusOtter">Marcus Otterström</a>
		</small>
		<nav>
			<ul>
				<li><a href="https://store.steampowered.com/app/1848220/Amelite/">Steam</a></li>
				<li><a href="mailto:sealhorsestudios@gmail.com">Contact</a></li>
			</ul>
			<ul>
				<li><a href="https://discord.gg/q5zdWWdJvn">Discord</a></li>
				<li><a href="https://www.facebook.com/amelite.sealhorsestudios/">Facebook</a></li>
				<li><a href="https://www.instagram.com/amelite.sealhorsestudios/">Instagram</a></li>
			</ul>
		</nav>
	</div>
</footer>


<style>
	footer {
		background-color: #131012;
		padding: 4em 0;
	}

	.container {
		max-width: 80ch;
		margin: auto;
		padding: 2ch;
		background-image: url("/img/sealhorse-studios.png");
		background-repeat: no-repeat;
		background-position-x: 95%;
		background-position-y: 30%;
	}

	nav {
		margin-top: 1em;
		font-size: 1.15rem;
	}

	small {
		font-size: 1.15rem;
	}

	ul {
		margin-top: 0.25em;
		display: flex;
		padding: 0;
		list-style-type: none;
		gap: 0.5em;
		flex-wrap: wrap;
		align-items: center;
	}

	footer a {
		display: inline-block;
		padding: 0.25em;
		margin-left: -0.25em;
	}

	footer a:hover,
	footer a:focus {
		text-decoration: none;
	}

	@media screen and (max-width: 500px) {
		.container {
			background-image: none;
		}

		footer {
			text-align: center;
		}

		ul {
			justify-content: center;
		}
	}
</style>
