---
import Awards from '../components/Awards.astro';
import YouTube from '../components/YouTube.astro';
import Screenshot from '../components/Screenshot.astro';
import SteamButton from '../components/SteamButton.astro';
import SocialMediaButton from '../components/SocialMediaButton.astro';

---
<main>
	<img class="background0" src="/assets/img/parallax/bg0.webp" alt="" role="presentation" draggable="false"/>
	<!-- <div class="custom-shape-divider-bottom-1645927187">
		<svg fill="#1E181C" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
			<path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z" class="shape-fill"></path>
		</svg>
	</div> -->
	<div id="content">
		<p class="hero">
			<strong>Amelite</strong> is a 2D platformer that will challenge your creativity in this new take on a classic genre. Create your own path as the power of drawing platforms is in <em>your</em> hands!
		</p>
		<h2>Trailer</h2>
		<YouTube id="u7j7AUfCVrA" alt="Play video: Amelite trailer" />
		<SteamButton />
		<Awards />
		<h2>About</h2>
		<p>
			Find yourself at the bottom of an abandoned and mystical tower, overgrown by dangerous crystals. With the help of a peculiar creature, climb your way to the top through an ever challenging environment, and find your way home. Leap over gaping holes, block incoming projectiles, or wall-jump in tandem with your own walls. Amelite is a game packed with creative challenges, and every player is free to make their own solutions!
		</p>
		<h2>The team</h2>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem excepturi in reprehenderit quo nemo aspernatur dicta, accusantium quibusdam ad, culpa eius illo similique ipsa cumque?
		</p>
		<ul class="socials">
			<SocialMediaButton text="Discord" linkUrl="#" iconUrl="/assets/img/discord-logo.svg" />
			<SocialMediaButton text="Instagram" linkUrl="#" iconUrl="/assets/img/instagram-logo.png" />
			<SocialMediaButton text="Facebook" linkUrl="#" iconUrl="/assets/img/facebook-logo.png" />
		</ul>
		<h2>Screenshots</h2>
		<div class="screenshots">
			<!-- <Screenshot id={1} /> -->
			<Screenshot id={2} />
			<Screenshot id={3} />
			<Screenshot id={4} />
			<Screenshot id={5} />
		</div>
	</div>
</main>

<style>
	p {
		margin: auto;
		margin-bottom: 1.5rem;
		text-align: left;
	}

	h2 {
		text-transform: uppercase;
		margin-top: 2em;
		margin-bottom: 0.25em;
		font-weight: 300;
		font-size: 1.25em;
		letter-spacing: 3px;
		text-align: center;
	}

	main {
		background-color: #1e181c;
		position: relative;
		max-width: 1920px;
		margin: auto;
		padding-bottom: 4em;
	}

	.background0 {
		margin-top: -100%;
		width: 100%;
		padding-bottom: calc(2ch - 4px);
		user-select: none;
		pointer-events: none;
	}

	.hero {
		margin-top: 1rem;
		text-align: center;
	}

	.hero strong {
		font-size: 1.2em;
	}

	#content {
		max-width: 80ch;
		margin: 0 auto;
		padding: 2ch;
		padding-top: 0;
	}

	.socials {
		text-align: left;
		padding: 0;
		list-style-type: none;
		display: flex;
		justify-content: center;
		gap: 1em;
	}

	.screenshots {
		display: flex;
		flex-wrap: wrap;
		gap: 1em;
		margin-top: 1em;
	}
</style>
