---
import Awards from '../components/Awards.astro';
import YouTube from '../components/YouTube.astro';
import Screenshot from '../components/Screenshot.astro';
import SteamButton from '../components/SteamButton.astro';
import SocialMediaButton from '../components/SocialMediaButton.astro';

---
<main>
	<img class="background0" src="/img/parallax/bg0.webp" alt="" role="presentation" draggable="false" width="1920" height="1080" />
	<div id="content">
		<p class="hero">
			<strong>Amelite</strong> is a 2D platformer that will challenge your creativity in this new take on a classic genre. Create your own path as the power of drawing platforms is in <em>your</em> hands!
		</p>
		<h2>Trailer</h2>
		<YouTube id="u7j7AUfCVrA" alt="Play video: Amelite trailer" />
		<SteamButton />
		<Awards />
		<h2>About</h2>
		<p>
			Find yourself at the bottom of an abandoned and mystical tower, overgrown by dangerous crystals. With the help of a peculiar creature, climb your way to the top through an ever challenging environment, and find your way home. Leap over gaping holes, block incoming projectiles, or wall-jump in tandem with your own walls. Amelite is a game packed with creative challenges, and every player is free to make their own solutions!
		</p>
		<ul class="socials">
			<li><SocialMediaButton text="Discord" linkUrl="#" iconUrl="/img/discord-logo.svg" /></li>
			<li><SocialMediaButton text="Instagram" linkUrl="https://www.instagram.com/amelite.sealhorsestudios/" iconUrl="/img/instagram-logo.png" /></li>
			<li><SocialMediaButton text="Facebook" linkUrl="https://www.facebook.com/amelite.sealhorsestudios/" iconUrl="/img/facebook-logo.png" /></li>
		</ul>
		<h2>The team</h2>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur accusantium atque nesciunt beatae eos quidem sed ex reiciendis, tempore rerum sequi mollitia itaque assumenda ducimus, ad corrupti obcaecati laudantium quibusdam tenetur voluptatibus quisquam ullam nam? Laborum corporis est dolor a eos ut esse hic accusantium fuga explicabo, vitae, nesciunt ullam!
		</p>
		<h2>Screenshots</h2>
		<div class="screenshots">
			<Screenshot id={2} />
			<Screenshot id={3} />
			<Screenshot id={4} />
			<Screenshot id={5} />
		</div>
		<SteamButton />
	</div>
</main>

<style>
	p {
		margin: auto;
		margin-bottom: 1.5em;
		text-align: left;
	}

	h2 {
		text-transform: uppercase;
		margin-top: 2em;
		margin-bottom: 0.25em;
		font-weight: 300;
		font-size: 1.25em;
		letter-spacing: 3px;
		text-align: center;
	}

	main {
		background-color: #1e181c;
		position: relative;
		max-width: 1920px;
		margin: auto;
		padding-bottom: 4em;
	}

	.background0 {
		margin-top: -100%;
		width: 100%;
		padding-bottom: calc(2ch - 4px);
		user-select: none;
		pointer-events: none;
		height: 100%;
	}

	.hero {
		margin-top: 1rem;
		text-align: center;
	}

	.hero strong {
		font-size: 1.2em;
	}

	#content {
		max-width: 80ch;
		margin: 0 auto;
		padding: 2ch;
		padding-top: 0;
	}

	.socials {
		text-align: left;
		padding: 0;
		list-style-type: none;
		display: flex;
		justify-content: center;
		gap: 1em;
		flex-wrap: wrap;
	}

	@media screen and (max-width: 500px) {
		.socials li {
			width: 100%;
		}
	}

	.screenshots {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5em;
		margin: 1em auto 3em auto;
		justify-content: center;
	}
</style>
