---

---
<header>
	<img class="backdrop"                           src="/img/parallax/backdrop.png" alt="" role="presentation" draggable="false"/>
	<img class="scroll background3" data-speed="10" src="/img/parallax/bg3.png"      alt="" role="presentation" draggable="false"/>
	<img class="scroll background2" data-speed="5"  src="/img/parallax/bg2.png"      alt="" role="presentation" draggable="false"/>
	<img class="scroll background1" data-speed="1"  src="/img/parallax/bg1.png"      alt="" role="presentation" draggable="false"/>
	<img class="sun"                                src="/img/parallax/sun.png"      alt="" role="presentation" draggable="false"/>
	<h1><img class="fg"                             src="/img/parallax/fg.png"       alt="Amelite" title="Amelite" draggable="false"/></h1>
	<img class="crystal"                            src="/img/parallax/crystal.png"  alt="" role="presentation" draggable="false"/>
</header>

<style>
	header {
		height: 75vh;
		z-index: -1;
		display: block;
		position: relative;
		max-width: 1920px;
		margin: auto;
	}

	header img {
		position: fixed;
		height: 100vh;
		width: 100%;
		object-fit: cover;
		object-position: bottom;
		top: -25vh;
		max-width: 1920px;
		user-select: none;
		pointer-events: none;
	}

	.sun {
		mix-blend-mode: overlay;
	}

	.crystal {
		animation-name: bob;
		animation-duration: 2.5s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
	}

	@keyframes bob {
		0%   { transform: translateY(0); }
		50%  { transform: translateY(-15px); }
		100% { transform: translateY(0); }
	}
</style>
