---
	export interface Props {
		id: number;
	}

	const { id } = Astro.props;
	const linkUrl = `/img/screenshots/screenshot${id}.jpg`;
	const thumbUrl = `/img/screenshots/screenshot${id}-thumb.png`;
---

<a href={linkUrl} target="_blank"><img src={thumbUrl} alt="Click to see full image" title="Click to see full image" width="360" height="210" /></a>

<style>
	img {
		width: 100%;
		height: 100%;
		transition-property: transform;
		transition-duration: 100ms;
		transition-timing-function: ease;
		border-radius: 8px;
		max-width: 360px;
		object-fit: cover;
	}

	img:hover {
		transform: scale(1.025);
	}
</style>
