---
	export interface Props {
		id: number;
	}

	const { id } = Astro.props;
	const linkUrl = `/assets/img/screenshots/screenshot${id}.jpg`;
	const thumbUrl = `/assets/img/screenshots/screenshot${id}-thumb.jpg`;
---

<a href={linkUrl} target="_blank"><img src={thumbUrl} alt="" title="Click to see full image" role="presentation" /></a>

<style>
	img {
		width: 100%;
		height: 100%;
		transition-property: transform;
		transition-duration: 100ms;
		transition-timing-function: ease;
		border-radius: 8px;
		max-width: 480px;
	}

	img:hover {
		transform: scale(1.025);
	}

	a {
		flex-grow: 1;
		display: inline-block;
		text-align: center;
	}
</style>
