---
export interface Props {
	text: string;
	iconUrl: string;
	linkUrl: string;
}

const { text, iconUrl, linkUrl } = Astro.props;

---

<a href={linkUrl}>
	<span>{text}</span>
	<img src={iconUrl} alt="" role="presentation" />
</a>
<style>
	a {
		padding: 0.75em 1.25em;
		background-color: #444;
		color: #fff;
		text-decoration: none;
		border-radius: 4px;
		display: flex;
		align-items: center;
		width: fit-content;
		justify-content: space-between;
	}

	a:hover,
	a:focus {
		background-color: #666;
	}

	img {
		height: 1.15em;
		margin-left: 0.75em;
		width: auto;
	}

	@media screen and (max-width: 500px) {
		a {
			width: 100%;
		}
	}
</style>
