<a href="https://store.steampowered.com/app/1848220/Amelite/">
	<img src="/img/steam-logo.png" alt="" role="presentation" width="34" height="34" />
	<span>Buy on Steam</span>
</a>

<style>
	a {
		padding: 0.75em 1.5em 0.75em 1.2em;
		background: linear-gradient(to right, #6fa720 5%, #588a1b 95%);
		color: #fff;
		text-decoration: none;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
		border-radius: 4px;
		display: flex;
		align-items: center;
		width: fit-content;
		margin: auto;
		font-size: 1.1em;
		justify-content: space-between;
		text-transform: uppercase;
	}

	a:hover,
	a:focus {
		background: linear-gradient(to right, #8ed629 5%, #6aa621 95%);
		box-shadow: 0 0 16px 0 #8ed62944;
	}

	img {
		height: 1.25em;
		margin-right: 0.75em;
		width: auto;
	}

	@media screen and (max-width: 500px) {
		a {
			width: 100%;
		}
	}
</style>
